<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203675035454-13jjuj2jt1sa7h5u2n89c4hgq27kt4pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203675035454-13jjuj2jt1sa7h5u2n89c4hgq27kt4pn</string>
	<key>API_KEY</key>
	<string>AIzaSyAo0xOOwG2DPjgwOaN62-zHmK8RM1L6Dh0</string>
	<key>GCM_SENDER_ID</key>
	<string>203675035454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ganesh.NewsAppVitalityGroupApp</string>
	<key>PROJECT_ID</key>
	<string>newsappvitalitygroup</string>
	<key>STORAGE_BUCKET</key>
	<string>newsappvitalitygroup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203675035454:ios:c97533df17c3b75b2dae6f</string>
</dict>
</plist>